﻿@{
    ViewData["Title"] = "Url Web Application";
}

<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>

<h2>Url Web Application</h2>

<div ng-app="urlApp">

    <div ng-controller="urlCtrl" ng-init="GetAll()" class="divList">
        <p class="divHead">List of Url</p>
        <table cellpadding="12" class="table table-bordered table-hover">

            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    <b>Url</b>
                </td>
                <td>
                    <b>Schortcut</b>
                </td>
            </tr>

            <tr ng-repeat="url in urls">

                <td>{{url.id}}</td>
                <td>{{url.baseUrl}}</td>
                <td><a ng-href="/{{url.shortcut}}">{{url.shortcut}}</a></td>

                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="Update(url)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="Delete(url)" />
                </td>
            </tr>

        </table>

        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <h2>
                        <span id="spn">Add New Url</span>
                    </h2>
                </div>
                <div class="row">

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">BaseUrl:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="baseurl" placeholder="BaseUrl" ng-model="BaseUrl">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Shortcut:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="shortcut" placeholder="shortcut" ng-model="Shortcut">
                                <input type="hidden" class="form-control" id="UrlID" ng-model="id">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="Insert()" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

